.hero--button 
  background-color: $main-bg-color
  color: #fff
  font-size: 1.6rem
  display: block 
  margin-top: 3rem 
  padding: 1.5rem 2rem
  border: none 
  transition:  450ms ease,opacity .2s ease;

  &:hover
    background-color: #7209b7