.header 
    min-height: 100vh
    display: flex
    

    .header__primary
        width: 45%
        margin-left: 5%
        
        .hero__content 
            max-width: 60rem
            margin-top: 20rem
            .hero__title
                font-size: clamp(2.8rem, 2.6vw, 4rem)
                font-weight: 600
            .hero__content--precision 
                position: relative
                .hero__accent 
                    position: absolute
                    top: 20px
                    left: 8px
            .hero__text
                font-size: 1.8rem
                margin-top: 2rem
                font-weight: 500
                opacity: .85
                color: $gray-color

            .hero--saeedo
                color: $main-bg-color

            

    .header__secondary 
        width: 50%
        background-color: $black-color
        position: relative
      
        .header__image--one,
        .header__image--two,
        .header__image--three,
        .header__image--four,
        .header__image--five,
        .header__image--six,
        .header__image--dots
            position: absolute
        .header__image--one
            width: 130px
            top: 210px
            // left: 320px
            right: 140px
            z-index: 2
        .header__image--dots 
            top: 190px
            right: 110px
            z-index: 1
            // left: 400px
        .header__image--two 
            width: 100px
            top: 342px
            left: -45px
        .header__image--three 
            top: 182px
            left: -18px
        .header__image--four
            top: 600px
            left: 110px
        .header__image--five
            top: 660px
            right: 50px
        .header__image--six
            top: 552px
            right: -5px


@media (max-width: 1084px)
    .header
        .hero__title
            margin-right: 10%
        .header__secondary
            
            .header__image--one
               // right: 2%
            .header__image--two
                top: 30%
            .header__image--five
                right: 10%    
        .hero__text 
            width: 80%

@media (max-width:768px)
    .header 
        min-height: 90vh
        flex-direction: column
        .header__primary
           margin-bottom: 9.1rem
           width: 90%

        .hero__title 
            margin: 0

        .header__secondary
            width: 100%
            outline: 1px solid green
            min-height: 35rem

            .header__image--six,
            .header__image--three,
                display: none
            .header__image--one
                top: 121px
                left: 55%
            .header__image--dots 
                top: 110px
                left: 65%

            .header__image--two
                top: -32px
                left: 50%
                
        
            .header__image--four
                top: 40px 
                left: 20%
            .header__image--five 
                top: 161px 
                left: 10%

@media (max-width: 414px)
    .header
        .header__secondary
            .header__image--one 
                top: 121px
                left: 55%
            .header__image--dots 
                top: 110px
                left: 70%

