.container
    width: 90%
    max-width: 140rem  
    margin: 0 auto 
    
    
.team 
    background-color: $section_grey-color
    margin-top: 15rem
                
.hire__team__container
    display: flex
    justify-content: space-between
    padding: 10rem 


    .hire__content__container
        //padding: 15rem 15rem
        width: 50%
       

        .hire__title 
            font-size: clamp(2.5rem, 3.0vw, 3.3rem)
            font-weight: 600
            max-width: 50rem
            margin-top: 5rem
            
        .hire__text 
            font-size: 1.5rem
            font-weight: 400
            max-width: 35rem
            margin-top: 2rem
            margin-bottom: 5rem
            line-height: 25px

    .hire__container__image 
        width: 45%
        
        .hire__image 
           
            margin-left: auto


@media (max-width: 963px)
    .container 
        width: 100%
        margin: 0
   
        .hire__team__container 
            flex-direction: column
            .hire__content__container,
            .hire__container__image
                width: 100%
                
                .hire__image 
                 margin: 0 auto

                .hire__title,
                .hire__text
                    max-width: 100%
                    text-align: center
                .hire__text 
                    max-width: 80%
                    margin: 2rem auto

            .hire__content__container 
                margin-bottom: 6rem

@media (max-width: 616px)
    .container .hire__team__container 
        padding: 2rem

        .hire__content__container 
            max-width: 100%
            
            .hire__title, 
            .hire__text
                text-align: left
            .hire__title 
                font-size: 2rem
            .hire__text 
                max-width: 100%