.location 
    background-image: url(../images/location_section/pattern.png)
    background-color: $main-bg-color
    .location__content
        width: 40rem
        padding: 10rem 0
        margin-left: 10rem
       

        .location__content--title 
            color: $white-bg-color
            font-size: 2.2rem
            font-weight: 500
            margin-bottom: 2rem