.work__info 
    margin: 5rem auto
    max-width: 100rem
// .projects 
//     max-width: 100rem
//     outline: 1px solid red 
//     margin: 0 auto

.projects__title 
    font-size: 2.2rem
    font-weight: 500
    opacity: .85
    color: $gray-color
    max-width: 50rem
    margin: 0 auto
    text-align: center

    .projects__title--saeedo 
        color: $black-color
        font-weight: 600

.projects__data__section 
    display: flex
    justify-content: space-between
.projects__data
    display: flex
    align-items: flex-start
    margin-top: 5rem
    .projects__data--image 
        width: 6.6rem
    .projects__data__clients 
        display: flex
        flex-direction: column

        .projects__clients--numbers 
            font-size: 3rem