.services 
    background-color: $black-color
    padding: 10rem 0
    
    .services__title 
        color: $white-bg-color

    .services__list 
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        max-width: 75rem
        margin: 4rem auto

        .services__list--image 
            width: 3rem
            

    .services__list__content 
        border-radius: 2%
        background-color: $white-bg-color
        width: 23%
        padding: 3rem 3rem

        .services__list--title 
            font-size: 1.5rem
            padding: 1rem 0

        .services__list--text 
            font-size: 1.2rem
        
        
@media (max-width: 768px)
    .services 
        .services__list
            
        .services__list__content 
            //width: 40%
            margin-bottom: 2rem
@media (max-width: 580px) 
    .services 
        .services__list 
            flex-direction: column
            align-items: center
        .services__list__content 
            width: 80%

